body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat';
  color: #404040;
}

.container {
  display: flex;
  height: 100vh;
}

.image-container {
  position: relative;
  flex: 0 1 60%;
  background-color: #e5e7e9;
}


.details {
  flex: 1;
  padding: 200px 50px;
  cursor: auto;
}

.details p {
  font-weight: 500;
  color: #747474;
  margin-bottom: 50px;
  line-height: 1.5;
}

.buy {
  display: flex;
  align-items: center;
}

.price {
  flex: 1;
  font-size: 32px;
}

.buy button {
  padding: 20px 50px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  background-color: #bd6a59;
  color: #ffffff;
  font-weight: 500;
}

.color-picker {
  position: absolute;
  bottom: 74px;
  right: 70px;
}

.picker-label {
  margin-bottom: 15px;
  text-align: right;
  font-weight: 500;
}
